<!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="col-xs-6 col-xs-offset-3"></div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <! add some ng-shows to <li> tags based on what page they're on -->
<!--             <li><a ng-href="#!/bestival">Home</a></li>
            <li><a ng-href="#!/bestival/allfestivals">All Festivals</a></li>
        </ul>
      </div>
    </div>
</nav> -->