<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bestival</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Coming+Soon|Nothing+You+Could+Do|Nova+Mono|Over+the+Rainbow|Permanent+Marker|Rock+Salt|Schoolbell|Vibur" rel="stylesheet">
</head>


<body ng-app="bestivalApp">
    <div class="bkgrnd">
        <div class="intro">
            <h1 class="bestival">bestival</h1>
            <h4 class="tagline">the music festival curation<br>and recommendation engine</h4>
        </div>

        <br>
        <br>

        <div class="optionhead">
            <h5>choose from 2 or more of the categories below<br>to receive your customized festival recommendation:</h5>
        </div>
    
        <br>
        <br>

        <div ng-view></div>
    
        <div ng-controller="OptionsCtrl">
            <div ng-init="loadArtistData()">
                <a href="#" class="categories">artists</a>
                <div class="row option-block">
                    <span class="col s3 options-to-check" ng-repeat="artist in artists">
                        <input id="{{artist.artist_name}}" type="checkbox" ng-model="artist.checked" name="artistsChecked[]" value="{{artist.artist_name}}">
                        <label for="{{artist.artist_name}}">{{artist.artist_name}}</label>
                    </span>
                </div>
            </div>

        <br>

            <div ng-init="loadGenreData()">
                <a href="#" class="categories">genres</a>
                <div class="row option-block">
                    <span class="col s2 options-to-check" ng-repeat="genre in genres">
                        <input id="{{genre.genre_name}}" type="checkbox" ng-model="genre.checked" name="genresChecked[]">
                        <label for="{{genre.genre_name}}">{{genre.genre_name}}</label>
                    </span>
                </div>
            </div>

        <br>


            <div ng-init="loadLocationData()">
                <a href="#" class="categories">locations</a>
                <div class="row option-block">
                    <span class="col s1 options-to-check" ng-repeat="location in locations">
                        <input id="{{location.state_name}}" type="checkbox" ng-model="location.checked" name="locationsChecked[]">
                        <label for="{{location.state_name}}">{{location.state_name}}</label>
                    </span>
                </div>
            </div>

    <br>


            <div ng-init="loadDateData()">
                <a href="#" class="categories">dates</a>
                <div class="row option-block">
                    <span class= "col s3 options-to-check" ng-repeat="date in dates">
                        <input id="{{date.month}} {{date.year}}" type="checkbox" ng-model="date.checked" name="datesChecked[]">
                        <label for="{{date.month}} {{date.year}}">{{date.month}} {{date.year}}</label>
                    </span>
                </div>
            </div>


            <div>
                <button class="btn waves-effect waves-light" type="submit" name="action">find my bestival</button>
            </div>

    </div>

    <br>
    <br>

    <br>
    <br>

</div>

    <script src="/lib/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="/lib/node_modules/angular/angular.min.js"></script>
    <script src="/lib/node_modules/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/factories/DataFactory.js"></script>
    <script type="text/javascript" src="app/factories/OptionsFactory.js"></script>
    <script type="text/javascript" src="app/controllers/OptionsCtrl.js"></script>
<!--     <script type="text/javascript" src="app/controllers/CategoriesCtrl.js"></script>
    <script type="text/javascript" src="app/controllers/RecoCtrl.js"></script> -->

</body>


</html>